<div class="welcome-container">
  <div class="welcome-content row">
    <div class="col-md-12 logo">
      <%= image_tag "Minintrest-Blue.png", class: "minintrest-logo" %>
    </div>
    <div class="col-md-12"><h2 class="welcome">WELCOME</h2></div>
    <div class="col-md-3"></div>
    <div class="col-md-6 welcome-message">
      <p>Get rid of searching!! We are using advanced learning algorithms</p>
      <p>for selecting what you like to read, from over</p>
      <p>hundreds of our news sources.</p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-12 start-reading-container">
      <a href="#" class="start-reading btn btn-primary">Start Reading..</a>
    </div>
  </div>
</div>
<div class="main row">
  <div class="col-md-1 side-navigation">
    kkkk
  </div>
  <div class="col-md-11 reading-space">
    <div class="row">
      <div class="col-md-12 top-space">
        
      </div>
      <div class="col-md-12 news-heading">
        <h4>We are Kinetic. This kinetic HTML template is provided by Tooplate for free of charge</h4>
      </div>
      <div class="col-md-12">
        <div class="news-image">
          <img src="img/right-about-image.png" alt="">
        </div>
        <div class="news-content">
          <p>This kinetic HTML template is provided by Tooplate for free of charge. You may use this layout for your website. Please tell your friends about Tooplate. Thank you.<br><br>Cras suscipit, sem vel cursus iaculis, nibh augue placerat enim, in varius dolor turpis at augue. Nulla facilisi. In quis sem pellentesque, tristique ligula non, tincidunt ipsum. Curabitur porttitor, justo id egestas egestas, enim augue lacinia quam, et volutpat velit augue sodales velit.

          This kinetic HTML template is provided by Tooplate for free of charge. You may use this layout for your website. Please tell your friends about Tooplate. Thank you.<br><br>Cras suscipit, sem vel cursus iaculis, nibh augue placerat enim, in varius dolor turpis at augue. Nulla facilisi. In quis sem pellentesque, tristique ligula non, tincidunt ipsum. Curabitur porttitor, justo id egestas egestas, enim augue lacinia quam, et volutpat velit augue sodales velit.

          This kinetic HTML template is provided by Tooplate for free of charge. You may use this layout for your website. Please tell your friends about Tooplate. Thank you.<br><br>Cras suscipit, sem vel cursus iaculis, nibh augue placerat enim, in varius dolor turpis at augue. Nulla facilisi. In quis sem pellentesque, tristique ligula non, tincidunt ipsum. Curabitur porttitor, justo id egestas egestas, enim augue lacinia quam, et volutpat velit augue sodales velit.

          This kinetic HTML template is provided by Tooplate for free of charge. You may use this layout for your website. Please tell your friends about Tooplate. Thank you.<br><br>Cras suscipit, sem vel cursus iaculis, nibh augue placerat enim, in varius dolor turpis at augue. Nulla facilisi. In quis sem pellentesque, tristique ligula non, tincidunt ipsum. Curabitur porttitor, justo id egestas egestas, enim augue lacinia quam, et volutpat velit augue sodales velit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.start-reading').on('click', function(event) {
    event.preventDefault()
    $('.welcome-container').hide();
    $('.main').show();
  });
</script>